@import "variables";
@import "dashboard";


.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: @body-background;
  .ant-layout-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .logo {
      float: left;
      width: 160px;
      color: #fff;
      font-size: 18px;
    }

    @media screen and (max-width: 576px) {
      padding: 0 20px;
    }
  }
  > .ant-layout-content {
    height: calc(100vh - 64px - 60px);
    margin-top: 64px;


    .ant-layout {
      height: 100%;
      overflow-y: auto;

    }

    .ant-layout-sider {
      // border-right: solid 2px #ddd;
      display: flex;
      justify-content: center;
      justify-items: center;
      height: 100%;

      @media screen and (max-width: @screen-xs) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
      }
      // padding: 20px;
      .ant-layout-sider-children {
        width: 100%;
      }
      .choose-theme label {
        color: @text-color-inverse;
      }
      .theme-heading {
        position: relative;
        width: 100%;
        padding: 20px;
        color: @text-color-inverse;
        .anticon {
          display: inline-block;
          margin-right: 10px;
          font-size: 24px;
        }
        .title {
          position: absolute;
          display: inline;
          visibility: visible;
          opacity: 1;
        }
      }
      .theme-selector-dropdown {
          min-height: 72px;
      }
      .color-row {
        padding: 5px 5px 5px 20px;
        &:nth-of-type(1) {
          padding-top: 20px;
        }
        .color-name {
          position: absolute;
          left: 60px;
          display: inline;
          color: @text-color-inverse;
          visibility: visible;
          opacity: 1;
        }
      }
      @xs-sider-width: 4px;
      @sm-sider-width: 50px;
      .ant-layout-sider-zero-width-trigger-left {
        z-index: 1000;
        margin-top: -60px;
      }
      &.ant-layout-sider-collapsed {
        @media screen and (max-width: @screen-xs) {
          width: @xs-sider-width !important;
          min-width: @xs-sider-width !important;
          max-width: @xs-sider-width !important;
        }

        @media screen and (max-width: @screen-md) {
          width: @sm-sider-width !important;
          min-width: @sm-sider-width !important;
          max-width: @sm-sider-width !important;
        }

        .theme-heading {
          padding-left: 8px;
          .title {
            height: 0;
            // display: none;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
          }

          // .anticon {
          //
          // }

        }
        .color-row {
          padding: 0;
          .color-name {
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
          }
          .color-palette {
            padding: 8px;
            @media screen and (max-width: @screen-md) {
              display: flex;
              justify-content: center;
              justify-items: center;
              width: 100%;
            }
          }
        }

      }
    }
    .ant-layout-content {
    min-height: 280px;
      // background-color: @body-background;
      padding: 20px;
      .ant-breadcrumb {
        width: 100%;
      }
    }
  }
  .ant-layout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 20px;
  }
}


.logo {
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  img {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    margin: 0 0 0 12px;
    color: @text-color-inverse;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
}

.ant-btn {
  &.btn-github {
    position: absolute;
    top: 15px;
    right: 0;
    img {
      height: 24px;
      margin-right: 8px;
    }

    span {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  .field-name {
    .anticon {
      margin-left: 5px;
    }
  }
}

.header-actions {
  position: absolute;
  top: 0;
  right: 16px;
}

.theme-card-wrapper {
  position: absolute;
  top: 92px;
  right: 28px;
  height: 86%;
}

.theme-edit {
  .preview-header, .preview {
    padding-right: 380px;
  }


}

.preview {
  max-width: 1600px;

  .abnormal-hint {
    margin-bottom: 20px;
  }
}

.options {
  margin-top: 10px;
  margin-bottom: 20px;
}

.components {
  &.input {
    width: 500px;
  }
  &.tree {
    .component-row {
      display: flex;
      justify-content: space-between;
    }
  }
  .component-row {
    margin-bottom: 12px;

    &.calendar {
      width: 300px;
    }

    .component-col {
      display: inline-block;
      margin-right: 14px;

      .badge-square {
        display: inline-block;
        width: 42px;
        height: 42px;
        vertical-align: middle;
        border-radius: 4px;
      }
    }
  }
}

.ant-back-top {
  right: 370px !important;
}

.ant-select-item-option-selected {
  &:not(.ant-select-item-option-disabled) {
    color: @select-item-selected-option-color;
  }
}


.ant-spin-nested-loading {
  .ant-spin.ant-spin-lg.ant-spin-spinning {
    max-height: 100vh;
  }
}
